*.pdf
!fig/*.pdf
!fig/manuals/*.pdf
!fig/manuals/trivial/*.pdf
!fig/manuals/blockly/*.pdf
!fig/manuals/labpsico/*.pdf
*.log
*.aux
*.bcf
*.lof
*.lol
*.lot
*.out
*.xml
*.toc
*.bbl
*.blg
*.pyg
*.acn
*.acr
*.alg
*.glsdefs
*.ist
*.lst
*.sty
*.vrb
